.container {
    display: flex;
    gap: 2rem;
}


/* overflow (auto, scroll, hidden, visible (par défaut)
* overflow-x, overflow-y */
.of-div {
    background-color: rgb(24, 81, 14);
    height: 100px;
    border: 1px solid black;
    overflow: auto;
     background-color: #335393;
    background-image: url("dove.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}

body {
    background-color: #335393;
    background-image: url("cheval-voiture.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    background-attachment: scroll;
    color: white;
}


/*

*/
